.checked-true {
  text-decoration: line-through;
  color: grey;
}

body {
    overflow: hidden;   
}

th {
    text-align: left;
    background-color: #efefef;
    cursor: pointer;
}

tr.footer {
    background-color: #f5f5f5;
}

main {
    width: 100%
}

.center {
    text-align: center;   
}

.delete {
    color: red; 
    cursor: pointer;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}