.checked-true {
  text-decoration: line-through;
  color: grey;
}

body {
    overflow: hidden;   
}

th {
    text-align: left;
    background-color: #efefef;
    cursor: pointer;
}

tr.footer {
    background-color: #f5f5f5;
}

main {
    width: 100%
}

.center {
    text-align: center;   
}

.delete {
    color: red; 
    cursor: pointer;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10vh;
}

/* Content specific styles
-------------------------------------------------- */
.content {
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*margin-bottom: 100px;*/
}

#trix {
    display: inline-block;
    height: 100px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 213px;
    border-style: none;
}

/*.mainContent {
    text-align: center;
    height:100%;
    width: 100%;
    margin-bottom: 100px;
}*/