.checked-true {
    text-decoration: line-through;
    color: grey;
}

body {
    overflow: hidden;
}

th {
    text-align: left;
    background-color: #efefef;
    cursor: pointer;
}

tr.footer {
    background-color: #f5f5f5;
}

main {
    width: 100%
}

.center {
    text-align: center;
}

.delete {
    color: red;
    cursor: pointer;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    position: relative;
}

.footer {
    /*    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10vh;*/
}

.navbar {
    display: none;
}

button:focus {
    outline: none;
}

h2 {
    line-height: 1.7;
}

@media (max-width: 420px) {
    h2 {
        font-size: 20px;
    }
}


/* Content specific styles
-------------------------------------------------- */

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.content {
    font-family: sans-serif;
    text-transform: lowercase;
    text-align: center;
    padding: 0 9vw;
    overflow: hidden;
}

#trix {
    font-size: 16px;
    color: white;
    display: inline-block;
    border-radius: 100px;
    background: rebeccapurple;
    height: 100px;
    padding: 0 50px;
    border-style: none;
    font-weight: bolder;
    text-transform: uppercase;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}

#fille {
    background: url(/app/views/Filthy.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: flex-end;
    animation: mover 1s infinite  alternate;
}
/*.mainContent {
    text-align: center;
    height:100%;
    width: 100%;
    margin-bottom: 100px;
}*/
